<h1>about page</h1>
<!-- <div class="manual">
	<h1>manual</h1>
<a href="about">AB</a>
<a href="contact">CT</a>
</div> -->
<!-- add link -->
<div class="gen">
	<!-- <h1>gen</h1> -->
<%= link_to("About us", about_path)%>
<%= link_to("Contact us", contact_path)%>
</div>
<!-- add img -->
<!-- <div >
	<%= image_tag("pug.jpg",height:'100',width:'100',alt:  "dog pug ")%>
</div>  -->
<!-- <div class="dog_image">
	
</div> -->