<!-- <html>
<head>
	<meta charset="UTF-8">
	<title></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="html/style.css">
</head>

<body>
	<img class="img-banner" src="img/bg.png" alt="banner">
	<div class="wrapper">
		<article class="img-info">
			<h2> 
				Yayyyy

			</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores in explicabo delectus, incidunt quos culpa. Tenetur tempore sint, omnis debitis magni, incidunt, delectus atque totam illo, dicta doloremque? Vero, deleniti.</p>
		</article>

	</div>
</body>
</html> -->