
 <header class="masthead header2" >
   
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Create new post</h1>
            <hr class="small">
            
            <span class="subheading">
            	typing new post
            </span>
          </div>
        </div>
      </div>
    </div>
  </header>

<div class="lightbg">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">

        <%= render "form" %>
            
     	</div>
 	 </div>
	</div>
</div>


